/* 通配符 */

/* *{
    color: red;
} */



/* 属性选择器 */

/* 同时选中所有带有href属性的值 */
/* [href]{
    color: red;
} */

/* 单个选中 */
/* [href="https://www.sina.com"]{
    color: red;
}
[href="https://www.baidu.com"]{
    color: #008c8c;
} */

/* 伪类选择器 */
a:link{
    color: red;
}
a:visited{
    color: #008c8c;
}
a:hover{
    color: green;
}
a:active{
    color: grey;
}
