/* 伪类元素选择器 */
span::before{
    content: "《";
    color: red;
}
/* content */
span::after{
    content: "》";
    color: red;
}

p{
    line-height: 2;
    text-indent: 2em;
}
/* 并列 选中p元素下.red属性的元素 */
p.red{
    color: red;
}

/* 
.lol li{
    color: red;
} */

.lol.kz{
    color: green;
}

.dda .bcd{
    color: red;
}

