body{
    /* 不重复 位置0 0  长宽/100% 自适应 */
    /* background: url("../img/wow.blizzard.cn_landing.png") no-repeat 0 0/100%; */
    background: url("") no-repeat center top;
}
header{
    width: 1166px;
    height: 73px;
    line-height: 73px;
    color: #f8b770;
    margin: 0 auto;
    margin-top: 45px;
    /* background: red; */
    /* 背景图 位置0 0  长宽/100% 100%*/
    background: url() no-repeat 0 0/100% 100%;
    border: 1px solid #3f3a22;
    border-right: none;
    border-left: none;
    position: relative;
}

header nav a{
    float: left;
    width: 161px;
    height: 73px;
    box-sizing: border-box;
    /* 文本等行盒横向居中 */
    text-align: center;
    border: 1px solid #3f3a22;
    border-top: none;
    border-bottom: none;

}
header nav a:nth-child(3){
    margin-right: 200px;
}

header .logo{
    position: absolute;


}

/* h1是写给搜索引擎看的 */
header .logo h1{
    display: none;
}
