.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.banner{
    width: 520px;
    height: 304px;
    
    margin: 1em auto;
    position: relative;
    overflow: hidden;
    
}
.banner .imgs{
    width: 1560px;
    height: 304px;
    
}
.banner .imgs img{
    width: 520px;
    height: 304px;
    float: left;
    
}
.banner .modal{
    width: 520px;
    height: 40px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    line-height: 40px;
    color: #ffffff;
    padding: 0 7px;
    font-weight: bold;
    box-sizing: border-box;
}
.banner .modal .dot{
    position: absolute;
    right: 0;
    top: 0px;
}
.banner .modal .dot>li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 4px;
   
}
.banner .modal .dot>li:hover{
    background: lightblue;
}