
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.main .container .pager{
    text-align: center;
    margin: 50px auto;
}
.main .container .pager ul li{
    display: inline-block;
}
.main .container .pager ul li a{
    border: 1px solid #e5e5e5;
    padding: 5px 13px;
    height: 2em;
    line-height: 2;
    margin: 0 4px;
}
.main .container .pager ul li a:hover{
    border: 1px solid #ef4238;
}
.main .container .pager ul li a.selected{
    background: #ef4238;
    color: #ffffff;
}