.container{
    
}
.container .subnav{
    background-color: #47464a;
    height: 60px;
    width: 100%;
    min-width: 1200px;
    text-align: center;
}
.container .subnav a{
    padding: 0 40px;
    line-height: 3.5;
    font-size: 16px;
}
.container .subnav a:visited{
    color: #999999;
}
.container .subnav a:hover{
    color: #ffffff;
}
.container .subnav a.selected{
    color: #ef4238;
}
.container .tag-panel{
    border: 1px dotted #e5e5e5;
    float: left;
    width: 90%;
    
    margin-top: 40px;
    margin-left: 60px;
    line-height: 1.5;
}
.container .tag-panel ul{
    border-bottom:  1px dotted #e5e5e5;
    margin: 30px;
    
}
.container .tag-panel ul a{
    margin: 20px;
}

.container .tag-panel ul a:visited{
    color: black;
}
.container .tag-panel ul a.selected{
    color: #ef4238;
}