body{
    color: #333333;
}
.main{
    line-height: 1.5;
}
.main .sub-nav{
    background: #47364a;
    text-align: center;
    height: 60px;
    text-decoration: none;

    /* 垂直居中，行高等于高度 */
    line-height: 60px;
}
.main .sub-nav a{
    margin: 34px;
    color: #999999;
}
.main .sub-nav a:hover{
    color: #ffffff;
}
.main .sub-nav a.active{
    color: #ef4238;
}
.main .container{
    width: 1120px;
    /* 水平居中 */
    margin: 0 auto;
}
.main .container .choose-area{
    
    border: 1px solid #e5e5e5;
    margin: 40px auto;
    line-height: 2;
    font-size: 14px;
}
.main .container .choose-area .choose-item{  
    margin: 10px 0;  
}
.main .container .choose-area .choose-item .left{
    float: left;
    width: 45px;
    text-align: right;
    color: #999999;
    margin: 0 10px;
}
.main .container .choose-area .choose-item .right{
    float: left;
    width: 1050px;
    
}
.main .container .choose-area .choose-item .right li{
    float: left;  
    margin: 0 15px;
}
.main .container .choose-area .choose-item .right li a:hover{
    color: #ef4328;
}